body {
  background: #144;
}

.login-form {
  background: white;
  margin-left: 80px; margin-right: 80px; margin-top: 80px; display: inline-block; padding: 10px;
  border: solid 1px; padding: 10px;
  font-family: Helvetica
}
.login-form .label {
  font-family: Helvetica; margin-bottom: 5px; font-size: 20px;
}
.login-form input {
  font-size: 20px; margin-top: 6px;
  border: none; border-bottom: solid 1px;
}
.login-form input[type="submit"] {
  cursor: pointer;
  background-color: #ddd;
  border: solid 1px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 15px;
  border-radius: 5px;
}

.login-form input[type="text"], .login-form input[type="password"] {
  margin-bottom: 5px; margin-top: 24px; border: none; border-bottom: solid 1px;
  font-size: 15px;
}

.login-form input[type="submit"]:hover {
  background-color: #eee;
  margin-top: 15px;
}

.login-form ::placeholder { color: #888; }
